<div class="container">

  <h1> here is my mean mug </h1>

  <video id="video"></video>
<button id="startbutton">Take photo</button>
<canvas id="canvas"></canvas>
<img src="http://placekitten.com/g/320/261" id="photo" alt="photo">

<button class='filter-button' id="grayscale" data="grayscale(100%)">Gray Scale</button>
<button class='filter-button' id="sepia">Sepia</button>
<button class='filter-button' id="saturation">Saturation</button>
<button class='filter-button' id="hue-rotate">Hue Rotation</button>
<button class='filter-button' id="invert">Invert</button>
<button class='filter-button' id="opacity">Opacity</button>
<button class='filter-button' id="brightness">Brightness</button>
<button class='filter-button' id="bontrast">Contrast</button>
<button class='filter-button' id="blur">Blur</button>
<button class='filter-button' id="reset">Reset</button>


</div>
