<nav>
  <h1> SimpleGram </h1>
  <ul>
    <li><a href="https://www.github.com/mechamanny">Github</a></li>
    <li><a href="https://www.linkedin.com/in/ekaunitz"> LinkedIn</a></li>
  </nav>
  <div class="container">


    <video id="video"></video>
    <div id="snap">
      <button id="startbutton">Take photo</button>
    </div>
    <canvas id="canvas"></canvas>
    <img src="http://placekitten.com/g/860/645" id="photo" alt="photo">

    <%= erb :_buttons_partial  %>
</div>
