<div class="container">

  <h1> here is my mean mug </h1>

  <video id="video"></video>
  <button id="startbutton">Take photo</button>
  <canvas id="canvas"></canvas>
  <img src="http://placekitten.com/g/860/645" id="photo" alt="photo">

<div class="buttons">
  <button class='filter-button' id="grayscale" data="grayscale(100%)">Gray Scale</button>
  <button class='filter-button' id="sepia" data="sepia(100%)">Sepia</button>
  <button class='filter-button' id="saturation" data="saturate(700%)">Saturation</button>
  <button class='filter-button' id="hue-rotate" data="hue-rotate(45deg)">Hue Rotation</button>
  <button class='filter-button' id="invert" data="invert(100%)">Invert</button>
  <button class='filter-button' id="opacity" data="opacity(30%)">Opacity</button>
  <button class='filter-button' id="brightness" data="brightness(15%)">Brightness</button>
  <button class='filter-button' id="contrast" data="contrast(200%)">Contrast</button>
  <button class='filter-button' id="blur" data="blur(2px)">Blur</button>
  <button class='filter-button' id="reset" data="">Reset</button>
</div>

</div>
