<div class="container">

  <h1> here is my mean mug </h1>

  <div class="webcam_video">
    <video autoplay> </video>
    <button id="start_button">Take photo</button>
    <img src="">
    <canvas style="display:none;"></canvas>
  </div>

</div>
